extends ./layout.pug

block stylesheet
  link(rel="stylesheet" href="/stylesheets/home.css")

block content
  div.btn-container
    a(href="/auth/sign-up") sign-up
    a(href="/auth/sign-in") sign-in
    a(href="/auth/sign-out") sign-out
